# On Branch Master

# Ignore all data files
/data

# Ignore the main gym
/gym-racer

# Ignore pycache files
/__pycache__

# Ignore the executable produced
*.cpython-37.pyc
__pycache__/eval_policy.cpython-37.pyc
__pycache__/ppo.cpython-37.pyc
__pycache__/arguments.cpython-37.pyc
__pycache__/network.cpython-37.pyc
